.div {
    background-color: #eef1f4;
    padding-right: 24px;
}

.div-2 {
    gap: 20px;
    display: flex;
}

.row.row-cards {
	row-gap: 17px !important;
}

@media (max-width: 991px) {
    .div-2 {
        flex-direction:
            column;
        align-items: stretch;
        gap: 0px;
    }
}

.column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 17%;
    margin-left: 0px;
}

@media (max-width: 991px) {
    .column {
        width: 100%;
    }
}

.div-3 {
    background-color:
        rgba(255, 255, 255, 0);
    display: flex;
    width: 240px;
    max-width: 100%;
    flex-grow: 1;
    flex-direction: column;
    margin:
        0 auto;
}

@media (max-width: 991px) {
    .div-3 {
        margin-top: 24px;
    }
}

.div-4 {
    background-color: #fff;
    align-self:
        stretch;
    display: flex;
    width: 100%;
    flex-grow: 1;
    flex-direction: column;
    padding: 34px 20px 196px 0;
}

.img {
    aspect-ratio: 4.09;
    object-fit: contain;
    object-position: center;
    width: 192px;
    overflow: hidden;
    align-self:
        center;
    max-width: 100%;
}

.div-5 {
    align-self: start;
    display: flex;
    margin-top: 42px;
    width: 146px;
    max-width:
        100%;
    align-items: flex-start;
    justify-content: space-between;
    gap: 19px;
}

@media (max-width: 991px) {
    .div-5 {
        justify-content: center;
        margin-top: 40px;
    }
}

.div-6 {
    background-color: #d3b67d;
    align-self: stretch;
    display:
        flex;
    width: 4px;
    height: 30px;
    flex-direction: column;
}

.img-2 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 24px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    align-self:
        center;
    max-width: 100%;
    margin: auto 0;
}

.div-7 {
    justify-content: center;
    color: #2b4551;
    margin: auto 0;
    font:
        500 16px/175% Outfit, sans-serif;
}

.div-8 {
    align-self: start;
    display: flex;
    width: 90px;
    max-width: 100%;
    align-items: flex-start;
    gap: 19px;
    margin: 35px 0 0 25px;
}

@media (max-width: 991px) {
    .div-8 {
        margin-left: 10px;
    }
}

.img-3 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 24px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    align-self: stretch;
    max-width: 100%;
}

.div-9 {
    justify-content: center;
    color: #889296;
    margin: auto 0;
    font: 500 16px/175% Outfit, sans-serif;
}

.div-10 {
    align-self: start;
    display:
        flex;
    width: 91px;
    max-width: 100%;
    align-items: flex-start;
    gap: 19px;
    margin: 38px 0 0 25px;
}

@media (max-width: 991px) {
    .div-10 {
        margin-left: 10px;
    }
}

.img-4 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 24px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    align-self: stretch;
    max-width: 100%;
}

.div-11 {
    justify-content: center;
    color: #889296;
    margin: auto 0;
    font: 500 16px/175% Outfit, sans-serif;
}

.div-12 {
    align-self: start;
    display: flex;
    width: 130px;
    max-width: 100%;
    align-items: flex-start;
    gap: 19px;
    margin: 38px 0 0 25px;
}

@media (max-width: 991px) {
    .div-12 {
        margin-left: 10px;
    }
}

.img-5 {
    aspect-ratio: 1;
    object-fit:
        contain;
    object-position: center;
    width: 24px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    align-self: stretch;
    max-width: 100%;
}

.div-13 {
    justify-content: center;
    color: #889296;
    margin: auto 0;
    font: 500 16px/175% Outfit, sans-serif;
}

.div-14 {
    align-self: start;
    display: flex;
    width: 114px;
    max-width: 100%;
    align-items: flex-start;
    gap: 19px;
    margin: 38px 0 0 25px;
}

@media (max-width: 991px) {
    .div-14 {
        margin-left:
            10px;
    }
}

.img-6 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 24px;
    justify-content:
        center;
    align-items: center;
    overflow: hidden;
    align-self: stretch;
    max-width: 100%;
}

.div-15 {
    justify-content:
        center;
    color: #889296;
    margin: auto 0;
    font: 500 16px/175% Outfit, sans-serif;
}

.div-16 {
    align-self: start;
    display: flex;
    width: 125px;
    max-width: 100%;
    align-items: flex-start;
    gap: 19px;
    margin: 38px 0 0 25px;
}

@media (max-width: 991px) {
    .div-16 {
        margin-left: 10px;
    }
}

.img-7 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 24px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    align-self:
        stretch;
    max-width: 100%;
}

.div-17 {
    justify-content: center;
    color: #889296;
    margin: auto 0;
    font: 500 16px/175% Outfit, sans-serif;
}

.div-18 {
    align-self: start;
    display: flex;
    width: 126px;
    max-width: 100%;
    align-items:
        flex-start;
    gap: 19px;
    margin: 38px 0 0 25px;
}

@media (max-width: 991px) {
    .div-18 {
        margin-left: 10px;
    }
}

.img-8 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 24px;
    justify-content: center;
    align-items:
        center;
    overflow: hidden;
    align-self: stretch;
    max-width: 100%;
}

.div-19 {
    justify-content: center;
    color: #889296;
    margin: auto 0;
    font: 500 16px/175% Outfit, sans-serif;
}

.div-20 {
    align-self: start;
    display: flex;
    width: 122px;
    max-width: 100%;
    align-items: flex-start;
    gap: 19px;
    margin: 38px 0 -39px 25px;
}

@media (max-width: 991px) {
    .div-20 {
        margin: 0 0 10px 10px;
    }
}

.img-9 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width:
        24px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    align-self: stretch;
    max-width: 100%;
}

.div-21 {
    justify-content: center;
    color: #889296;
    margin: auto 0;
    font: 500 16px/175% Outfit, sans-serif;
}

.column-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 83%;
    margin-left: 20px;
}

@media (max-width: 991px) {
    .column-2 {
        width: 100%;
    }
}

.div-22 {
    display: flex;
    flex-direction: column;
    margin: auto 0;
}

@media (max-width: 991px) {
    .div-22 {
        max-width: 100%;
        margin-top: 40px;
    }
}

.div-23 {
    background-color: #fff;
    align-self: center;
    display: flex;
    width: 100%;
    max-width: 1152px;
    align-items: flex-start;
    justify-content:
        space-between;
    gap: 20px;
    padding: 14px 16px 14px 26px;
}

@media (max-width: 991px) {
    .div-23 {
        max-width: 100%;
        flex-wrap: wrap;
    }
}

.div-24 {
    justify-content: center;
    color: #2b4551;
    flex: 1;
    margin: auto 0;
    font: 600 28px/125% Outfit, sans-serif;
}

.div-25 {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    justify-content:
        space-between;
    gap: 9px;
}

@media (max-width: 991px) {
    .div-25 {
        justify-content: center;
    }
}

.img-10 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 44px;
    overflow: hidden;
    border-radius: 50%;
    align-self: stretch;
    max-width: 100%;
}

.div-26 {
    justify-content: center;
    color: #2b4551;
    margin: auto 0;
    font: 600 14px/179% Outfit, sans-serif;
}

.img-11 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width:
        18px;
    overflow: hidden;
    align-self: center;
    max-width: 100%;
    margin: auto 0;
}

.div-27 {
    align-self: center;
    margin-top: 20px;
    width: 100%;
    max-width: 1152px;
}

@media (max-width: 991px) {
    .div-27 {
        max-width: 100%;
    }
}

.div-28 {
    gap: 20px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 991px) {
    .div-28 {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
    }
}

.column-3 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 30%;
    margin-left: 0px;
}

@media (max-width: 991px) {
    .column-3 {
        width: 100%;
    }
}

.div-29 {
    background-color: #fff;
    display: flex;
    width: 100%;
    flex-grow: 1;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    flex: 1;
    margin: 0 auto;
    padding: 23px 18px 23px 23px;
}

@media (max-width: 991px) {
    .div-29 {
        margin-top: 20px;
    }
}

.div-30 {
    align-self: start;
    display: flex;
    margin-top: 7px;
    flex-direction: column;
}

.div-31 {
    color: #2b4551;
    align-self: start;
    font: 600 38px Outfit, sans-serif;
}

.div-32 {
    color: #2b4551;
    align-self: start;
    margin-top: 45px;
    font: 500 18px Outfit, sans-serif;
}

@media (max-width: 991px) {
    .div-32 {
        margin-top: 40px;
    }
}

.img-12 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 44px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    align-self: start;
    max-width: 100%;
}

.column-4 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 30%;
    margin-left: 20px;
}

@media (max-width: 991px) {
    .column-4 {
        width: 100%;
    }
}

.div-33 {
    background-color: #fff;
    display: flex;
    width: 100%;
    flex-grow: 1;
    flex-direction: column;
    flex: 1;
    margin: 0 auto;
    padding: 21px 18px 27px 20px;
}

@media (max-width: 991px) {
    .div-33 {
        margin-top: 20px;
    }
}

.div-34 {
    align-self: start;
    display: flex;
    width: 100%;
    align-items:
        flex-start;
    justify-content: space-between;
    gap: 20px;
}

@media (max-width: 991px) {
    .div-34 {
        margin-left: 3px;
    }
}

.div-35 {
    color: #2b4551;
    align-self: center;
    max-width: 300px;
    flex-grow: 1;
    flex-basis: auto;
    margin: auto 0;
    font: 600 38px Outfit, sans-serif;
}

.img-13 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width:
        44px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    align-self: stretch;
    max-width: 100%;
}

.div-36 {
    color: #2b4551;
    align-self: start;
    margin-top: 36px;
    max-width: 348px;
    font: 500 18px Outfit, sans-serif;
}

@media (max-width: 991px) {
    .div-36 {
        margin-left: 3px;
    }
}

.column-5 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 30%;
    margin-left: 20px;
}

@media (max-width: 991px) {
    .column-5 {
        width: 100%;
    }
}

.div-37 {
    background-color: #fff;
    display: flex;
    width: 100%;
    flex-grow: 1;
    flex-direction: column;
    flex: 1;
    margin:
        0 auto;
    padding: 21px 19px 27px 20px;
}

@media (max-width: 991px) {
    .div-37 {
        margin-top: 20px;
    }
}

.div-38 {
    align-self: start;
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
}

@media (max-width: 991px) {
    .div-38 {
        margin-left: 3px;
    }
}

.div-39 {
    color: #2b4551;
    align-self: center;
    max-width:
        293px;
    flex-grow: 1;
    flex-basis: auto;
    margin: auto 0;
    font: 600 38px Outfit, sans-serif;
}

.img-14 {
    aspect-ratio:
        1;
    object-fit: contain;
    object-position: center;
    width: 44px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    align-self: stretch;
    max-width: 100%;
}

.div-40 {
    color: #2b4551;
    align-self: start;
    margin-top:
        37px;
    max-width: 349px;
    font: 500 18px Outfit, sans-serif;
}

@media (max-width: 991px) {
    .div-40 {
        margin-left: 3px;
    }
}

.div-41 {
    background-color: #fff;
    align-self: start;
    display: flex;
    margin-top: 20px;
    width: 371px;
    max-width:
        100%;
    align-items: flex-start;
    gap: 0px;
    padding: 27px 5px 6px 0;
}

.div-42 {
    align-self: start;
    z-index: 1;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: auto;
}

@media (max-width: 991px) {
    .div-42 {
        margin-right: -2px;
    }
}

.div-43 {
    color: #2b4551;
    margin-left: 21px;
    font: 600 22px/136% Outfit, sans-serif;
}

@media (max-width: 991px) {
    .div-43 {
        margin-left: 10px;
    }
}

.div-44 {
    color: #9daab0;
    text-transform: uppercase;
    align-self: start;
    margin: 24px 0 0 22px;
    font: 600 12px Outfit, sans-serif;
}

@media (max-width: 991px) {
    .div-44 {
        margin-left: 10px;
    }
}

.div-45 {
    background-color: rgba(157, 170, 175, 0.15);
    align-self: stretch;
    margin-top: 20px;
    width: 100%;
    height: 1px;
}

.div-46 {
    align-self: center;
    display: flex;
    margin-top: 19px;
    width: 326px;
    max-width:
        100%;
    align-items: flex-start;
    justify-content: space-between;
    gap: 12px;
}

@media (max-width: 991px) {
    .div-46 {
        justify-content: center;
    }
}

.div-47 {
    border-radius: 11px;
    background-color: #d3b67d;
    align-self: start;
    display:
        flex;
    margin-top: 6px;
    width: 8px;
    height: 8px;
    flex-direction: column;
}

.div-48 {
    color: #2b4551;
    align-self:
        start;
    max-width: 267px;
    flex-grow: 1;
    flex-basis: auto;
    font: 600 14px/157% Outfit, sans-serif;
}

.img-15 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 18px;
    overflow: hidden;
    align-self: start;
    max-width: 100%;
}

.div-49 {
    color: #9daab0;
    text-transform: uppercase;
    margin: 15px 0 0 42px;
    font: 600 12px Outfit, sans-serif;
}

@media (max-width: 991px) {
    .div-49 {
        margin-left: 10px;
    }
}

.div-50 {
    background-color:
        rgba(157, 170, 175, 0.15);
    align-self: stretch;
    margin-top: 24px;
    width: 100%;
    height: 1px;
}

@media (max-width: 991px) {
    .div-50 {
        margin-right: 2px;
    }
}

.div-51 {
    align-self: center;
    display: flex;
    margin-top: 23px;
    width:
        326px;
    max-width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    gap: 12px;
}

@media (max-width: 991px) {
    .div-51 {
        justify-content: center;
    }
}

.div-52 {
    border-radius: 11px;
    background-color: rgba(157, 170, 175,
            0.48);
    align-self: start;
    display: flex;
    width: 8px;
    height: 8px;
    flex-direction: column;
}

.div-53 {
    color:
        #2b4551;
    align-self: start;
    max-width: 267px;
    flex-grow: 1;
    flex-basis: auto;
    font: 400 14px/157% Outfit,
        sans-serif;
}

.img-16 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 18px;
    overflow:
        hidden;
    align-self: start;
    max-width: 100%;
}

.div-54 {
    color: #9daab0;
    text-transform: uppercase;
    margin: 15px 0 0 42px;
    font: 600 12px Outfit, sans-serif;
}

@media (max-width: 991px) {
    .div-54 {
        margin-left: 10px;
    }
}

.div-55 {
    background-color: rgba(157, 170, 175, 0.15);
    align-self: stretch;
    margin-top: 24px;
    width: 100%;
    height: 1px;
}

@media (max-width: 991px) {
    .div-55 {
        margin-right: 2px;
    }
}

.div-56 {
    align-self: center;
    display: flex;
    margin-top: 22px;
    width: 326px;
    max-width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    gap: 12px;
}

@media (max-width: 991px) {
    .div-56 {
        justify-content: center;
    }
}

.div-57 {
    border-radius: 11px;
    background-color: rgba(157, 170, 175, 0.48);
    align-self: start;
    display: flex;
    width: 8px;
    height: 8px;
    flex-direction: column;
}

.div-58 {
    align-self: start;
    display: flex;
    flex-direction: column;
}

.div-59 {
    color:
        #2b4551;
    align-self: start;
    font: 400 14px/157% Outfit, sans-serif;
}

.div-60 {
    color: #9daab0;
    text-transform:
        uppercase;
    margin-top: 15px;
    font: 600 12px Outfit, sans-serif;
}

.img-17 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 18px;
    overflow: hidden;
    align-self: start;
    max-width: 100%;
}

.div-61 {
    border-radius: 50px;
    background-color: #eef1f4;
    align-self: end;
    display: flex;
    margin-top: 69px;
    width: 3px;
    max-width: 100%;
    padding-bottom: 169px;
    flex-direction: column;
}

@media (max-width: 991px) {
    .div-61 {
        margin-top:
            40px;
    }
}

.div-62 {
    border-radius: 50px;
    background-color: #c2cacd;
    align-self: stretch;
    display: flex;
    margin-bottom: -34px;
    width: 100%;
    height: 192px;
    flex-direction: column;
}

@media (max-width: 991px) {
    .div-62 {
        margin-bottom: 10px;
    }
}
